@{
    Layout = null;
}
@Html.Raw(ViewBag.HtmlContent)
<span style="display:none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F404f9fa5187fd49f856eb91cf3d3ce9b' type='text/javascript'%3E%3C/script%3E"));
     </script>
</span>
